/*----------------------------- Colors ----------------------------------------*/
:root 
{
	--customBlack: #1e1b3b;
	--customPink: #bd3867;
	--customLBlue: #1db9e3;
	--customBlue: #256bbb;
}

.test
{
	position: absolute;
}

/*----------------------------- Fonts ----------------------------------------*/

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/Aquire-BW0ox.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireBold-8Ma60.otf') format('opentype');
	font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireLight-YzE0o.otf') format('opentype');
	font-weight: 300;
    font-style: normal;
}

/*----------------------------- Main ----------------------------------------*/



* 
{
	box-sizing: border-box;
	user-select: none;
	font-family: 'Aquire', sans-serif;
	font-weight: bold;
	/* color: white; Set text color to white */
}

html, body
{
	margin: 0;
}

.bg
{
	background-image: url(../img/wave_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.header
{
	position: absolute;
	top: 20px;
	left: 50%;
	padding: 20px 50px;
	background: transparent;
	backdrop-filter: blur(10px);
	transform: translate(-50%);
	border: 2px solid var(--customPink);
	border-radius: 4px;
}

.name
{
	font-size: 32px;
	color: var(--customPink);
	text-decoration: none;
	font-weight: 700;
}


/*----------------------------- Nav Bar ----------------------------------------*/

.navbarContainer
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	padding: 20px 100px;
	background: transparent;
	border: 4px solid var(--customPink);
	border-radius: 30px;
}

.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.navButton
{
	border: 4px solid var(--customPink);
	background: transparent;
	backdrop-filter: blur(50px);
	border-radius: 10px;
	opacity: 1;
}

.navButton.active
{
	box-shadow: 0 0 10px 2px var(--customPink);
}




/*----------------------------- Home Scene ----------------------------------------*/

.choiceContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 600px;
	transform: translate(-50%, -50%);
	background: transparent;

	display: flex;
	justify-content: space-between;
	
}

#choiceButton
{
	height: 100%;
	width: 200px;

	border-radius: 20px;

	display: flex;
	justify-content: center;

	border: 4px solid var(--customBlue);
	background: transparent;
	backdrop-filter: blur(50px);
}

/*----------------------------- Settings Scene ----------------------------------------*/

.slider-container 
{
	position: absolute;
	width: 20%;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	margin: 50px auto;
	color: var(--customBlue);
	text-align: center;
}
  
.slider 
{
	width: 100%;
}
  
  

/*----------------------------- Media Queries ----------------------------------------*/

/* @media and (max-width: 600px)
{
	
} */