/*----------------------------- Colors ----------------------------------------*/
:root 
{
	--customBlack: #1e1b3b;
	--customPink: #bd3867;
	--customLBlue: #1db9e3;
	--customBlue: #256bbb;
}

.test
{
	position: absolute;
}

/*----------------------------- Fonts ----------------------------------------*/

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/Aquire-BW0ox.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireBold-8Ma60.otf') format('opentype');
	font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireLight-YzE0o.otf') format('opentype');
	font-weight: 300;
    font-style: normal;
}

/*----------------------------- Main ----------------------------------------*/



* 
{
	box-sizing: border-box;
	user-select: none;
	font-family: 'Aquire', sans-serif;
	font-weight: bold;
	/* color: white; Set text color to white */
}

html, body
{
	margin: 0;
}

.bg
{
	background-image: url(../img/wave_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.header
{
	position: absolute;
	top: 20px;
	left: 50%;
	padding: 20px 50px;
	background: transparent;
	backdrop-filter: blur(10px);
	transform: translate(-50%);
	border: 2px solid var(--customPink);
	border-radius: 4px;
}

.name
{
	font-size: 32px;
	color: var(--customPink);
	text-decoration: none;
	font-weight: 700;
}


/*----------------------------- Nav Bar ----------------------------------------*/

.navbarContainer
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	padding: 20px 100px;
	background: transparent;
}

.navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.navbar 
{
	position: relative;
	font-size: 18px;
	color: red;
	background: transparent;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}

.navButton
{
	border: 2px solid var(--customPink);
	background: var(--customPink);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	opacity: 0.1;
}

.navButton img
{
	opacity: 1;
}








/*----------------------------- Media Queries ----------------------------------------*/

/* @media and (max-width: 600px)
{
	
} */