/*----------------------------- Colors ----------------------------------------*/
:root 
{
	--customBlack: #1e1b3b;
	--customPink: #bd3867;
	--customLBlue: #1db9e3;
	--customBlue: #256bbb;
}

.test
{
	position: absolute;
}


/*----------------------------- Fonts ----------------------------------------*/

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/Aquire-BW0ox.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireBold-8Ma60.otf') format('opentype');
	font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'Aquire';
    src: url('../fonts/aquire-font/AquireLight-YzE0o.otf') format('opentype');
	font-weight: 300;
    font-style: normal;
}

/*----------------------------- Main ----------------------------------------*/



* 
{
	box-sizing: border-box;
	user-select: none;
	font-family: 'Aquire', sans-serif;
	font-weight: bold;
	/* color: white; Set text color to white */
}

html, body
{
	margin: 0;
}

.bg
{
	background-image: url(../img/wave_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.header
{
	position: absolute;
	top: 20px;
	left: 50%;
	padding: 20px 50px;
	background: transparent;
	backdrop-filter: blur(10px);
	transform: translate(-50%);
	border: 2px solid var(--customPink);
	border-radius: 4px;
	text-align: center;
}

.name
{
	font-size: 32px;
	color: var(--customPink);
	text-decoration: none;
	font-weight: 700;
}



/*----------------------------- Nav Bar ----------------------------------------*/

.navbarContainer
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);

	width: 100%;
	height: 15%;
	padding: 20px 100px;
	background: transparent;
	border: 4px solid var(--customPink);
	border-radius: 30px;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbar
{
	position: absolute;
	left: 0;
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
}

.navButton
{
	width: 25%;
	height: 90%;

	border: 4px transparent var(--customBlack);
	background: var(--customBlue);
	backdrop-filter: blur(50px);
	border-radius: 10px;
	opacity: 1;
	/* margin-right: 40px;
	margin-left: 40px; */
	padding: 4px 4px;
	transition: 0.3s ease-in-out;
}

.navButton.active
{
	box-shadow: 0 0 10px 6px var(--customBlue);
}




/*----------------------------- Home Scene ----------------------------------------*/

.choiceContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 200px;
	width: 98%;

	background: transparent;

	display: flex;
	justify-content: center;

}

#choiceButton
{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);

	height: 100%;
	width: 200px;

	border-radius: 20px;

	border: 4px solid var(--customBlue);
	background: transparent;
	backdrop-filter: blur(100px);
}

#messageLogin
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	color: var(--customPink);
	font-size: 6em;
}


/*----------------------------- Timer ----------------------------------------*/


#timerContainer
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	z-index: 100;
}

#timerContainer:before
{
	content: 'Loading';
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);


	font-size: 9em;
	font-weight: 900;
	text-transform: uppercase;
	color: rgba(255,255,255,0.1);
	background-color: black;
}


.timer
{
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: 12em;
	font-weight: 700;
	z-index: 1;
}

.timer:after
{
	content: '%';
	font-size: 0.5em;
}

/*----------------------------- Settings Scene ----------------------------------------*/

.sliderContainer 
{
	position: absolute;
	width: 50%;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	margin: 50px auto;
	color: var(--customBlue);
	text-align: center;
}
  
.slider 
{
	width: 100%;
}

/*----------------------------- Profile Scene ----------------------------------------*/

.link
{
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	color: var(--customLBlue);
}

/*----------------------------- Perso Profile Scene ----------------------------------------*/

#loginStatus
{
	text-align: center;
}

.profileCard
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);

	width: 80%;
	height: 50%;

	background-color: transparent;
	backdrop-filter: blur(10px);
	z-index: 100;
	border: 4px solid var(--customBlack);
	border-radius: 10px;
	color: white;

	display: flex;

}

.logoutButton
{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);

	width: 35%;
	height: 10%;

	font-size: 1em;
	background-color: var(--customLBlue);
	border: 4px solid var(--customBlack);
	border-radius: 4px;
	color: var(--customBlack);
}

.pp
{
	position: absolute;
	top: 8px;
	left: 8px;

	border: 4px solid var(--customPink);
	border-radius: 4px;
	width: 25%;
	height: 90px;
}
.profileName
{
	position: absolute;
	top: 8px;
	right: 2%;

	border: 4px solid var(--customPink);
	border-radius: 4px;
	padding: 6px;
	width: 65%;
}

.nbContainer
{
	position: absolute;
	top: 45%;
	left: 5%;

	width: 90%;

	border: 4px solid var(--customPink);
	border-radius: 4px;
}



/*----------------------------- Yes ----------------------------------------*/

#yesContainer
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #070707;
	z-index: 100;
	color: white;
}

#yes
{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 6em;
	text-align: center; 
}

#yesButton
{
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, -20%);

}

/*----------------------------- No ----------------------------------------*/

#no
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 7em;
	text-align: center;
	color: var(--customBlue);
}



/*----------------------------- Logins ----------------------------------------*/

#loginContainer 
{
	position: absolute;
	width: 90%;
    background-color: transparent;
    backdrop-filter: blur(20px);
	padding: 20px;
	border: 4px solid var(--customBlack);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--customPink);

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginButton
{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 20%);

}

.text
{
	width: 90%;
}

#loginStatus
{
	margin-top: 15px;
	margin-bottom: 0;
}

/*----------------------------- Media Queries ----------------------------------------*/

/* @media (max-width: 600px)
{
} */
